* {
    font-family: Roboto, Helvetica, sans-serif;
}

/* Make scrollbar invisible */
body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }

/* Make a smooth transition of the markers' highlight */
.custom-marker {
    transition: all 2.5s ease-out;
}

/* Set the map container size */
#map {
    width: 100%;
    height: 98.2vh;
}

/* Style for the text overlay */
.text-icon {
    text-align: center;
    color: black;
}

#yearContainer {
    bottom: 4vh;
    width: 98vw;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    position: absolute;
    z-index: 500;
}

/* year slider css */

.slideContainer {
    bottom: 3vh;
    width: 92vw;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    z-index: 500;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/* side panel for place information css */

#placeName {
    margin: 5%;
    font-size: 200%;
    text-align: center;
}

#sidePanel {
    overflow: auto;
    position: fixed;
    top: 0.8vh;
    right: -250px; /* Initially hidden to the right */
    width: 250px;
    height: 88.2vh;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    transition: right 0.3s;
    z-index: 500;
}

#closeButton {
    margin: 4%;
}
.reference {
    margin: 2%;
}

.separatorLineYear {
    margin: 4%;
}

.yearSubtitle {
    margin: 4%;
}

.placeName {
    margin: 4%;
    padding-top: 4%;
}

.recordDescription {
    margin: 4%;
    padding-bottom: 4%;
    font-weight: normal;
}

.referenceContainer {
    background-color: white;
    color: black;
    margin: 4%;
    width: 93%;
    opacity: 1.0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

.referenceContainer:hover {
    background-color: #F2F2F2;
}

hr {
    border-top: 5px solid #000;
}


/* search menu css */
#searchMenu {
    top: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    z-index: 500;
}

#searchMenu input[type=text] {
    font-size: 17px;
}

#searchPanel {
    overflow: auto;
    position: fixed;
    left: 3.5vw;
    width: 260px;
    height: 80.2vh;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    transition: right 0.3s;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchPanelContainer {
    overflow: auto;
    position: fixed;
    display: none;
    padding: 5px;
    top: 7vh;
    left: 2.5vw;
    width: 280px;
    height: 86.2vh;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    transition: right 0.3s;
    z-index: 500;
}

#resultsCloseButton {
    position: relative;
    display: inline-block;
    margin: 0 0 8px 115px;
}

#searchPanelLabel {
    position: relative;
    display: inline-block;
    margin: 5px 0 0 25px;
}

#moreResultsButton {
    margin-bottom: 10px;
}